#yoo_page{
    background-color: #f8f7f3;
}

.home_footer_btn{
    padding: 10px;
    border-radius: 2px;
}


#mainpage_header_title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#profile_page_header{
    z-index: 3;
}

#profile_content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    background-color: #f8f7f3;
}

#profile_wall{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: #454545;
    z-index: 2;
    text-align: center;
}


#profile_image{
    position: relative;
    margin-top: 20%;
}


#profile_wall_image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#profile_username{
    position: relative;
    height: 20px;
    top: 10px;
    color: white;
    font-weight: bold;
}

#profile_information_content{
    position: absolute;
    top: 250px;
    width: 100%;
    background-color: #f8f7f3;
    overflow-y: auto;
}

.profile_information_list_item{
    text-align: left;
    font-size: 15px;
    box-sizing: border-box; /* use border-box to prevent width from changing when using padding */
    padding-left: 30px;
    /*height: 30px;*/
    /*padding-left: 30px;
    padding-right: 30px;*/
    border-bottom-style: solid;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 1px;
    word-wrap:break-word;
}

.profile_information{
    overflow-y: hidden; /* have to disable this scroll, otherwise the parent scroll failed. */
}

.profile_input{
    width: 90%;
    font-size: 15px;
    border-width: 0px;
    word-break: break-word;
    background-color: transparent;
}

#profile_intro_input{
    width: 90%;
    font-size: 15px;
    border-width: 1.0px;
    word-break: break-word;
    background-color: white;
    height: 150px;
    resize: none;
    color: #454545;
}

#modify_intro_panel_btn_group{
    width: 90%;
    height: 50px;
}

#profile_location_input{
    width: 90%;
    background: white;
    font-size: 15px;
}

#profile_birthday_input{
    width: 90%;
    background: white;
    font-size: 15px;
}

.profile_selected{
    color: #454545 !important;
    font-weight: bold;
}

#profile_information_posts{
}


/* passby */
.passby_user_profile_image{
    float: left;
}

.passby_user_intro{
    margin-top: 10px;
    text-align: left;
}

.passby_user_name{
    margin-left: 10px;
    float: left;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

/** Footbar **/
.footbar_btn_activated{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

/* notification circle */
.button_noty{
    position: absolute;
    top: 0px;
    left: 50px;
    background: red;
    padding: 2px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 12px;
    border: 2px solid white;
    font-size: 11px;
    display: none; /* don't show if the noty value is 0 */
}


/**  bottom post panel when user clicks yoo button **/
#yoo_btn_post_page{
    border-top-color: #5eaae9;
    border-top-style: solid;
    border-top-width: 1px;
    postition: fixed;
    width: 100%;
    height: 140px;
    left: 0px;
    bottom: 60px;
    background-color: #f8f8f8;
    display: none;
}

#bottom-panel-selection-panel{
    height: 110px;
    width: 100%;
    margin: 0;
}
#bottom-panel-small-close-div{
    text-align: center;
    height: 30px;
}

#yoo_btn_post_photo_btn{
    border-bottom-color: #ddb84b;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
#yoo_btn_post_text_btn{
    border-bottom-color: #b54444;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#yoo_btn_post_audio_btn{
    border-bottom-color: #aecb8e;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.yoo_btn_post_page_icon_info{
    margin-top: 8px;
    color: #9ea5a0;
}
#post_text_btn_div{
    border-left-color: #d1d0cd;
    border-left-style: solid;
    border-left-width: 1px;

    border-right-color: #d1d0cd;
    border-right-style: solid;
    border-right-width: 1px;
}

#close_bottom_panel{
    margin-top: 5px;
}

/**
 * Post Text page css
 */
#post_text_textarea{
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 16px;
    padding: 20px;
}

/*
 * Post card
 */
.post_card{
    background: #f8f8f8;
}
.post_card_user_info{
    height: 50px;
    width: 100%;

    border-bottom-color: #f3f3f3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.post_card_user_img{
    width: 42;
    height: 42;
    position: absolute;
    left: 30px;
    margin-top: -5px;
}

.post_card_username{
    position: absolute;
    left: 90px;
    font-size: 18px;
}

.post_card_post_date{
    position: absolute;
    margin-left: 90px;
    margin-top: 26px;
    font-size: 12px;
}

.post_card_content{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;

    border-bottom-color: #ededed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.post_card_img_content{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;

    border-bottom-color: #ededed;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    max-width:80%;
    max-height:70%;
    display: block;
}

.post_card_bottom_panel{
    width: 100%;
    height: 26px;
    background: #f6f6f6;
}

.post_card_btn_group{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    height: 90%;
    text-align: center;
    display: table;
}

.post_card_bottom_panel_divider{
    border-right-color: #ededed;
    border-right-style: solid;
    border-right-width: 1px;
}

.post_card_btn_icon{
    padding: 0px;
}

.post_card_btn_noty{
    padding: 10px;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.post_card_liked{
    color: #ca7238;
    font-weight: bold;
}

.user_followed{
    color: #ca7238;
    font-weight: bold;
}

/** passby card **/
.passby_card{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    background: #f8f8f8;;
    overflow: hidden;
}

.passby_user_profile{
    width: 100%;
    height: 224px;
    background: white;
}
.passby_user_profile_content{
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.passby_card_user_img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    position: relative;
}
.passby_username_bar{
    width: 100%;
    height: 50px;
    text-align: center;

    border-bottom-color: #f3f3f3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.passby_username{
    padding-top: 20px;
    height: 50px;
}
.passby_user_intro{
    margin: 0;
    font-size: 16px;
    width: 90%;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;
    word-wrap: break-word;
    overflow-y: scroll;
}

.passby_card_bottom_panel{
    width: 100%;
    height: 50px;
    background: #f6f6f6;
}


/* Audio Page */
#audio_page{
    position: fixed;
    width: 90%;
    height: 40%;
    left: 5%;
    bottom: 50px;
    margin:auto;
    padding: 20px;
    background: #f6f6f6;
    text-align: center;

    border-color: #f3f3f3;
    border-style: solid;
    border-width: 2px;

    box-sizing:border-box;

    display: none;
}

#audio_page_content{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}

#audio_page_bottom_panel{
    position: relative;
    bottom: 70px;
    width: 100%;
    height: 30px;
    text-align: center;
}

#close_audio_page{
    margin-top: 5px;
}

/* Comment Page */
#comment_panel{
    width: 100%;
    overflow: hidden;
}
#comment_input{
    position:
}
.comment_footer{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing:border-box;
}
.comment_footer input{
    color: #454545;
    font-size: 15px;
    width: 70%;
    float:left;
}

#comment_send_btn{
    margin-left: 5px;
    width: 25%;
}

.comment_card{
    text-align: left;
    padding-left: 100px;
    color: #454545;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #E6E2E2;
}

.comment_is_me{
    color: #7072a4;
}

.comment_username{
    font-size: 13px;
    color: #888791;
}

.comment_content{
    font-size: 14px;
}

/* follow users list */
#profile_information_passby_users{
    background: white;
}
.follow_user_intro_div{
    width: 100%;
    height: 80px;
    background: white;
    padding: 0;
    box-sizing: border-box;
}

.follow_user_intro_div_left{
    float: left;
    width: 30%;
    padding-top: 5px;
}

.follow_user_img{
    width: 70px;
    height: 70px;
}

.follow_user_intro_div_middle{
    float: left;
    text-align: left;
    width: 55%;
    height: 80px;
}

.follow_user_intro_div_right{
    float: left;
    width: 15%;
    height: 50px;
}

.follow_user_bar{
    padding: 10px;
    text-align: left;
}
.follow_user_intro{
    font-size: 14px;
    margin-left: 20px;
    width: 80%;
}

/* chat page */
#chat_page_content{
    box-sizing: border-box;
    padding-bottom: 100px;
    overflow-y: scroll;
}
#chat_panel{
    width: 100%;
    overflow: hidden;
}

.post_card_user_img_me{
    width: 42;
    height: 42;
}

.comment_content_me{
    margin-left: -50px;
    font-size: 14px;
    width: 80%;
    float: left;
    margin-right: 50px;
}

.chat_is_me{
    box-shadow: 0px 0px 2px #DCE0D6;
    background: #F1F6EA;
}

/* notification page */
.notification_username{
    font-size: 14px;
}

.notification_content{
    font-size: 13px;
    color: #888791;
}

.this_is_notification{
    box-shadow: 0px 0px 4px #F51C1C;
    color: #EF7874;
}
