#yoo_page{
    background-color: #f8f7f3;
}

.home_footer_btn{
    padding: 10px;
    border-radius: 2px;
}


#username_title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#profile_page_header{
    z-index: 3;
}

#profile_content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    background-color: #f8f7f3;
}

#profile_wall{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: #454545;
    z-index: 2;
    text-align: center;
}


#profile_image{
    position: relative;
    margin-top: 20%;
}


#profile_wall_image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#profile_username{
    position: relative;
    height: 20px;
    top: 10px;
    color: white;
    font-weight: bold;
}

#profile_information_content{
    position: absolute;
    top: 250px;
    width: 100%;
    background-color: #f8f7f3;
    overflow-y: auto;
}

.profile_information_list_item{
    text-align: left;
    font-size: 15px;
    box-sizing: border-box; /* use border-box to prevent width from changing when using padding */
    padding-left: 30px;
    /*height: 30px;*/
    /*padding-left: 30px;
    padding-right: 30px;*/
    border-bottom-style: solid;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 1px;
    word-wrap:break-word;
}

.profile_input{
    width: 90%;
    font-size: 15px;
    border-width: 0px;
    word-break: break-word;
    background-color: transparent;
}

#profile_intro_input{
    width: 90%;
    font-size: 15px;
    border-width: 1.0px;
    word-break: break-word;
    background-color: white;
    height: 150px;
    resize: none;
    color: #454545;
}

#modify_intro_panel_btn_group{
    width: 90%;
    height: 50px;
}

#profile_location_input{
    width: 90%;
    background: white;
    font-size: 15px;
}

#profile_birthday_input{
    width: 90%;
    background: white;
    font-size: 15px;
}

.passby_user_profile_image{
    float: left;
}

.passby_user_intro{
    margin-top: 10px;
    text-align: left;
}

.passby_user_name{
    margin-left: 10px;
    float: left;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

/** Footbar **/
.footbar_btn_activated{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

/* notification circle */
.button_noty{
    position: absolute;
    top: 0px;
    left: 50px;
    background: red;
    padding: 2px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 12px;
    border: 2px solid white;
    font-size: 11px;
    display: none; /* don't show if the noty value is 0 */
}


/**  bottom post panel when user clicks yoo button **/
#yoo_btn_post_page{
    border-top-color: #5eaae9;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: #f5f5f5;
    display: none;
}

#bottom-panel-selection-panel{
    height: 110px;
    width: 100%;
    margin: 0;
}
#bottom-panel-small-close-div{
    text-align: center;
}

#yoo_btn_post_photo_btn{
    border-bottom-color: #ddb84b;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
#yoo_btn_post_text_btn{
    border-bottom-color: #b54444;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#yoo_btn_post_audio_btn{
    border-bottom-color: #aecb8e;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.yoo_btn_post_page_icon_info{
    margin-top: 8px;
    color: #9ea5a0;
}
#post_text_btn_div{
    border-left-color: #d1d0cd;
    border-left-style: solid;
    border-left-width: 1px;

    border-right-color: #d1d0cd;
    border-right-style: solid;
    border-right-width: 1px;
}

#close_bottom_panel{
    margin-top: 5px;
}

/**
 * Post Text page css
 */
#post_text_textarea{
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 16px;
    padding: 20px;
}

/*
 * Post card
 */
.post_card{
    background: #f8f8f8;
}
.post_card_user_info{
    height: 50px;
    width: 100%;

    border-bottom-color: #f3f3f3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.post_card_user_img{
    width: 42;
    height: 42;
    position: absolute;
    left: 30px;
}

.post_card_username{
    position: absolute;
    left: 90px;
    font-size: 18px;
}

.post_card_post_date{
    position: absolute;
    margin-left: 90px;
    margin-top: 26px;
    font-size: 12px;
}

.post_card_content{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;

    border-bottom-color: #ededed;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.post_card_bottom_panel{
    width: 100%;
    height: 26px;
    background: #f6f6f6;
}

.post_card_btn_group{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    height: 90%;
    text-align: center;
    display: table;
}

.post_card_bottom_panel_divider{
    border-right-color: #ededed;
    border-right-style: solid;
    border-right-width: 1px;
}

.post_card_btn_icon{
    padding: 0px;
}

.post_card_btn_noty{
    padding: 10px;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.post_card_liked{
    color: #ca7238;
    font-weight: bold;
}
