#yoo_page{
    background-color: #f8f7f3;
}
#yoo_btn{
    padding: 10px;
    border-radius: 2px;
}

#username_title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#profile_page_header{
    z-index: 3;
}

#profile_content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    background-color: #f8f7f3;
}

#profile_wall{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: #454545;
    z-index: 2;
    text-align: center;
}


#profile_image{
    position: relative;
    margin-top: 20%;
}


#profile_wall_image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#profile_username{
    position: relative;
    height: 20px;
    top: 10px;
    color: white;
    font-weight: bold;
}

#profile_information_content{
    position: absolute;
    top: 250px;
    width: 100%;
    background-color: #f8f7f3;
    overflow-y: auto;
}

.profile_information_list_item{
    text-align: left;
    font-size: 15px;
    box-sizing: border-box; /* use border-box to prevent width from changing when using padding */
    padding-left: 30px;
    /*height: 30px;*/
    /*padding-left: 30px;
    padding-right: 30px;*/
    border-bottom-style: solid;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 1px;
    word-wrap:break-word;
}

.profile_input{
    width: 90%;
    font-size: 15px;
    border-width: 0px;
    word-break: break-word;
    background-color: transparent;
}

#profile_intro_input{
    width: 90%;
    font-size: 15px;
    border-width: 1.0px;
    word-break: break-word;
    background-color: white;
    height: 150px;
    resize: none;
    color: #454545;
}

#modify_intro_panel_btn_group{
    width: 90%;
    height: 50px;
}

#profile_location_input{
    width: 90%;
    background: white;
    font-size: 15px;
}

#profile_birthday_input{
    width: 90%;
    background: white;
    font-size: 15px;
}

.passby_user_profile_image{
    float: left;
}

.passby_user_intro{
    margin-top: 10px;
    text-align: left;
}

.passby_user_name{
    margin-left: 10px;
    float: left;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}
